[submodule "External/vixl"]
	shallow = true
	path = External/vixl
	url = https://github.com/Sonicadvance1/vixl.git
[submodule "External/cpp-optparse"]
	path = External/cpp-optparse
	url = https://github.com/Sonicadvance1/cpp-optparse
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/Sonicadvance1/imgui.git
[submodule "External/json-maker"]
	path = External/json-maker
	url = https://github.com/Sonicadvance1/json-maker.git
[submodule "External/tiny-json"]
	path = External/tiny-json
	url = https://github.com/Sonicadvance1/tiny-json.git
[submodule "External/xbyak"]
        shallow = true
	path = External/xbyak
	url = https://github.com/FEX-Emu/xbyak.git
[submodule "External/fex-posixtest-bins"]
        shallow = true
	path = External/fex-posixtest-bins
	url = https://github.com/FEX-Emu/fex-posixtest-bins.git
[submodule "External/fex-gvisor-tests-bins"]
        shallow = true
	path = External/fex-gvisor-tests-bins
	url = https://github.com/FEX-Emu/fex-gvisor-tests-bins.git
[submodule "External/fex-gcc-target-tests-bins"]
        shallow = true
	path = External/fex-gcc-target-tests-bins
	url = https://github.com/FEX-Emu/fex-gcc-target-tests-bins.git
[submodule "External/jemalloc"]
	path = External/jemalloc
	url = https://github.com/FEX-Emu/jemalloc.git
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "External/drm-headers"]
	path = External/drm-headers
	url = https://github.com/FEX-Emu/drm-headers.git
[submodule "External/xxhash"]
	path = External/xxhash
	url = https://github.com/FEX-Emu/xxHash.git
