[submodule "External/cpp-optparse"]
	path = Source/Common/cpp-optparse
	url = https://github.com/Sonicadvance1/cpp-optparse
[submodule "External/fex-posixtest-bins"]
  shallow = true
	path = External/fex-posixtest-bins
	url = https://github.com/FEX-Emu/fex-posixtest-bins.git
[submodule "External/fex-gvisor-tests-bins"]
  shallow = true
	path = External/fex-gvisor-tests-bins
	url = https://github.com/FEX-Emu/fex-gvisor-tests-bins.git
[submodule "External/fex-gcc-target-tests-bins"]
  shallow = true
	path = External/fex-gcc-target-tests-bins
	url = https://github.com/FEX-Emu/fex-gcc-target-tests-bins.git
[submodule "External/drm-headers"]
	path = External/drm-headers
	url = https://github.com/FEX-Emu/drm-headers.git
