name: GLIBC fault test
# This workflow file is the same as the `Build + Test` with some key differences
# - Runs on any x86 and ARM64 runner
# - Disables the glibc jemalloc compile option
# - Enables the glibc allocator fault option
# - Disables gvisor tests to reduce stress on CI machines (tmp/shm tests overwhelm them)
# - Disables thunk tests since they are incompatible with glibc fault allocator
# - Disables ARMEmitter tests (We don't want to fault test vixl's disassembler)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  CC: clang
  CXX: clang++
  FEX_PORTABLE: 1

jobs:
  glibc_fault_test:
    runs-on: ${{ matrix.arch }}
    strategy:
      matrix:
        arch: [[self-hosted, ARM64]]
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Set runner label
      run: echo "runner_label=${{ matrix.arch[1] }}" >> $GITHUB_ENV

    - name: Set rootfs paths
      run: |
        echo "FEX_ROOTFS_MOUNT=/mnt/AutoNFS/rootfs/" >> $GITHUB_ENV
        echo "FEX_ROOTFS_PATH=$HOME/Rootfs/" >> $GITHUB_ENV
        echo "FEX_ROOTFS=$HOME/Rootfs/" >> $GITHUB_ENV

    - name: Update RootFS cache
      run: python3 Scripts/CI_FetchRootFS.py

    - name: Checkout Submodules
      # Need to update submodules
      run: |
        git submodule sync --recursive
        git submodule update --init --depth 1

    - name: Clean Build Environment
      run: rm -Rf build

    - name: Create Build Environment
      run: cmake -E make_directory build

    - name: Configure CMake
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -G Ninja -DENABLE_LTO=False \
          -DENABLE_ASSERTIONS=True -DENABLE_X86_HOST_DEBUG=True -DBUILD_FEX_LINUX_TESTS=True \
          -DENABLE_GLIBC_ALLOCATOR_HOOK_FAULT=True -DENABLE_JEMALLOC_GLIBC_ALLOC=False \
          -DCMAKE_INSTALL_PREFIX="$PWD"/build/install

    - name: Build
      run: cmake --build build --config $BUILD_TYPE

    - name: Install
      run: cmake --build build --config $BUILD_TYPE --target install

    - name: gcc target tests 64
      # Execute the gvisor tests
      run: cmake --build build --config $BUILD_TYPE --target gcc_target_tests_64

    - name: GCC64 Test Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_GCC64.log || true

    - name: gcc target tests 32
      # Execute the gvisor tests
      run: cmake --build build --config $BUILD_TYPE --target gcc_target_tests_32

    - name: GCC32 Test Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_GCC32.log || true

    - name: APITest tests
      run: cmake --build build --config $BUILD_TYPE --target api_tests

    - name: APITest Test Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_APITests.log || true

    - name: FEXCore APITest tests
      run: cmake --build build --config $BUILD_TYPE --target fexcore_apitests

    - name: FEXCore APITest Test Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_FEXCoreAPITests.log || true

    - name: FEXLinuxTests
      run: cmake --build build --config $BUILD_TYPE --target fex_linux_tests_all

    - name: FEXLinuxTests Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_FEXLinuxTests.log || true

    - name: ASM Tests
      # Execute the unit tests
      run: cmake --build build --config $BUILD_TYPE --target asm_tests

    - name: ASM Test Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_ASM.log || true

    - name: Posix Tests
      # Execute the posixtest
      run: cmake --build build --config $BUILD_TYPE --target posix_tests

    - name: Posix Test Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_Posix.log || true

    - name: Truncate test results
      if: ${{ always() }}
      # Cap out the log files at 20M in case something crash spins and dumps fault text
      # ASM tests get quite close to 10MB
      run: truncate --size="<20M" build/Testing/Temporary/LastTest_*.log || true

    - name: Remove old SHM regions
      if: ${{ always() }}
      run: cmake --build build --config $BUILD_TYPE --target remove_old_shm_regions

    - name: Set runner name
      if: ${{ always() }}
      run: echo "runner_name=$(hostname)" >> $GITHUB_ENV

    - name: Upload results
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      timeout-minutes: 1
      with:
        name: Results-${{ env.runner_name }}-${{ env.runner_label }}
        path: ${{ github.workspace }}/build/Testing/Temporary/LastTest_*.log
        retention-days: 3

