name: Instruction Count CI run

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  CC: clang
  CXX: clang++

jobs:
  instcountci_tests:
    runs-on: ${{ matrix.arch }}
    strategy:
      matrix:
        arch: [[self-hosted, x64], [self-hosted, ARM64]]
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Set runner label
      run: echo "runner_label=${{ matrix.arch[1] }}" >> $GITHUB_ENV

    - name: Set rootfs paths
      run: |
        echo "FEX_ROOTFS_MOUNT=/mnt/AutoNFS/rootfs/" >> $GITHUB_ENV
        echo "FEX_ROOTFS_PATH=$HOME/Rootfs/" >> $GITHUB_ENV
        echo "FEX_ROOTFS=$HOME/Rootfs/" >> $GITHUB_ENV

    - name: Update RootFS cache
      run: python3 Scripts/CI_FetchRootFS.py

    - name: Checkout Submodules
      # Need to update submodules
      run: |
        git submodule sync --recursive
        git submodule update --init --depth 1

    - name: Clean Build Environment
      run: rm -Rf build

    - name: Create Build Environment
      run: cmake -E make_directory build

    - name: Set VIXL_SIM_ENABLED
      run: |
        case "${{ matrix.arch[1] }}" in
          x64) _vixl_sim=True ;;
          ARM64) _vixl_sim=False ;;
        esac
        echo "VIXL_SIM_ENABLED=${_vixl_sim}" >> $GITHUB_ENV

    - name: Configure CMake
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -G Ninja -DENABLE_VIXL_SIMULATOR=$VIXL_SIM_ENABLED \
          -DENABLE_VIXL_DISASSEMBLER=True -DENABLE_LTO=False -DENABLE_ASSERTIONS=True -DENABLE_X86_HOST_DEBUG=True

    - name: Build
      run: cmake --build build --config $BUILD_TYPE --target CodeSizeValidation instcountci_test_files
      env:
        FEX_DISABLETELEMETRY: 1

    - name: Instruction Count Tests
      if: ${{ always() }}
      uses: ./.github/workflows/test
      with:
        target: instcountci_tests
        log-name: InstCountCI

    - name: Update local repo instcount
      if: ${{ always() }}
      run: cmake --build build --config $BUILD_TYPE --target instcountci_update_tests

    - name: Check InstCountCI diff
      if: ${{ always() }}
      run: git --no-pager diff --exit-code HEAD

    - name: Truncate test results
      if: ${{ always() }}
      # Cap out the log files at 20M in case something crash spins and dumps fault text
      # ASM tests get quite close to 10MB
      run: truncate --size="<20M" build/Testing/Temporary/LastTest_*.log || true

    - name: Set runner name
      if: ${{ always() }}
      run: echo "runner_name=$(hostname)" >> $GITHUB_ENV

    - name: Upload results
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      timeout-minutes: 1
      with:
        name: Results-${{ env.runner_name }}
        path: build/Testing/Temporary/LastTest_*.log
        retention-days: 3
