name: Vixl Simulator run

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  CC: clang
  CXX: clang++
  FEX_PORTABLE: 1

jobs:
  vixl_simulator:
    runs-on: ${{ matrix.arch }}
    strategy:
      matrix:
        # Only the x86-64 runner is fast enough to run this
        arch: [[self-hosted, x64], [self-hosted, ARMv8.4]]
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Set runner label
      run: echo "runner_label=${{ matrix.arch[1] }}" >> $GITHUB_ENV

    - name: Set rootfs paths
      run: |
        echo "FEX_ROOTFS_MOUNT=/mnt/AutoNFS/rootfs/" >> $GITHUB_ENV
        echo "FEX_ROOTFS_PATH=$HOME/Rootfs/" >> $GITHUB_ENV
        echo "FEX_ROOTFS=$HOME/Rootfs/" >> $GITHUB_ENV

    - name: Update RootFS cache
      run: python3 Scripts/CI_FetchRootFS.py

    - name: Checkout Submodules
      # Need to update submodules
      run: |
        git submodule sync --recursive
        git submodule update --init --depth 1

    - name: Clean Build Environment
      run: rm -Rf build

    - name: Create Build Environment
      run: cmake -E make_directory build

    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -G Ninja -DENABLE_VIXL_SIMULATOR=True -DENABLE_VIXL_DISASSEMBLER=True -DENABLE_LTO=False -DENABLE_ASSERTIONS=True -DENABLE_X86_HOST_DEBUG=True

    - name: Build
      run: cmake --build build --config $BUILD_TYPE

    - name: ASM Tests - SVE256
      # Execute the unit tests
      run: cmake --build build --config $BUILD_TYPE --target asm_tests

    - name: ASM Test SVE256 Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_ASM_SVE256Bit.log || true

    - name: ASM Tests - SVE128
      env:
        FEX_FORCESVEWIDTH: "128"
      # Execute the unit tests
      run: cmake --build build --config $BUILD_TYPE --target asm_tests

    - name: ASM Test 128-bit Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_ASM_SVE128Bit.log || true

    - name: ASM Tests - ASIMD
      env:
        FEX_HOSTFEATURES: "disablesve"
      # Execute the unit tests
      run: cmake --build build --config $BUILD_TYPE --target asm_tests

    - name: ASM Test ASIMD Results move
      if: ${{ always() }}
      run: mv build/Testing/Temporary/LastTest.log build/Testing/Temporary/LastTest_ASM_ASIMD.log || true

    - name: Truncate test results
      if: ${{ always() }}
      # Cap out the log files at 20M in case something crash spins and dumps fault text
      # ASM tests get quite close to 10MB
      run: truncate --size="<20M" build/Testing/Temporary/LastTest_*.log || true

    - name: Set runner name
      if: ${{ always() }}
      run: echo "runner_name=$(hostname)" >> $GITHUB_ENV

    - name: Upload results
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      timeout-minutes: 1
      with:
        name: Results-${{ env.runner_name }}-${{ env.runner_label }}
        path: ${{ github.workspace }}/build/Testing/Temporary/LastTest_*.log
        retention-days: 3

