name: Vixl Simulator run

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  CC: clang
  CXX: clang++
  FEX_PORTABLE: 1

jobs:
  vixl_simulator:
    runs-on: ${{ matrix.arch }}
    strategy:
      matrix:
        # Only the x86-64 runner is fast enough to run this
        arch: [[self-hosted, x64], [self-hosted, ARMv8.4]]
      fail-fast: false

    steps:
    - uses: actions/checkout@v6

    - name: Set runner info
      run: |
        echo "runner_label=${{ matrix.arch[1] }}" >> $GITHUB_ENV
        echo "runner_name=$(hostname)" >> $GITHUB_ENV

    - name: Set rootfs paths
      run: |
        echo "FEX_ROOTFS_MOUNT=/mnt/AutoNFS/rootfs/" >> $GITHUB_ENV
        echo "FEX_ROOTFS_PATH=$HOME/Rootfs/" >> $GITHUB_ENV
        echo "FEX_ROOTFS=$HOME/Rootfs/" >> $GITHUB_ENV

    - name: Update RootFS cache
      run: python3 Scripts/CI_FetchRootFS.py

    - name: Checkout Submodules
      # Need to update submodules
      run: |
        git submodule sync --recursive
        git submodule update --init --depth 1

    - name: Clean Build Environment
      run: rm -Rf build

    - name: Configure CMake
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -G Ninja -DENABLE_VIXL_SIMULATOR=True -DENABLE_LTO=False \
          -DENABLE_VIXL_DISASSEMBLER=True -DENABLE_ASSERTIONS=True -DENABLE_X86_HOST_DEBUG=True

    - name: Build
      run: cmake --build build

    - name: ASM Tests - SVE256
      if: ${{ always() }}
      uses: ./.github/workflows/test
      with:
        target: asm_tests
        log-name: ASM_SVE256Bit

    - name: ASM Tests - SVE128
      if: ${{ always() }}
      uses: ./.github/workflows/test
      env:
        FEX_FORCESVEWIDTH: "128"
      with:
        target: asm_tests
        log-name: ASM_SVE128Bit

    - name: ASM Tests - ASIMD
      if: ${{ always() }}
      uses: ./.github/workflows/test
      env:
        FEX_HOSTFEATURES: "disablesve"
      with:
        target: asm_tests
        log-name: ASM_ASIMD

    - name: Upload results
      if: ${{ always() }}
      uses: actions/upload-artifact@v6
      timeout-minutes: 1
      with:
        name: Results-${{ env.runner_name }}-${{ env.runner_label }}
        path: ${{ github.workspace }}/build/Testing/Temporary/LastTest_*.log
        retention-days: 3
